body {
  font-family: Arial, sans-serif;
  background-color: rgba(17, 113, 162, 255);
  margin: 0;
  padding: 0;
}

.container-fluid.business-index-container {
  background-color: rgba(212, 253, 254, 255);
  max-width: 90%;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 50px;
}

/* Banner styling */
.show-page-banner {
  background-image: url('/assets/business-man-bunner.jpg');
  min-height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

.banner-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.container-searchform {
  margin-top: 20px;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .business-index-banner {
    height: 200px;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .index-business-button {
    width: auto;
  }
}



.pagination {
  display: flex;
  justify-content: space-evenly; /* Adjusts spacing between elements */
  width: 40%;
}



.previous_page
 {
  padding-right: 2%;
}


.next_page {

  padding-left: 2%;
}


.current {
  margin-right: 8%; /* Adjust the value as needed for the desired space */
}
