/* Container Styles */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 30px;
}

.dashboard-banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 30px;

}

.dashboard-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  border-radius: 30px;
}

.dashboard-banner h1,
.dashboard-banner h2 {
  z-index: 2;
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 5px; /* Rounded corners */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.dashboard-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.dashboard-banner h2 {
  font-size: 2rem;
  border: 2px solid black; /* Black border around the text */
  color: white; /* White text color */
}



.col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the <p> tags */
.p {
  margin-right: 20px; /* Adjust as needed */
  text-align: center;

}


/* Card Styles */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Button Styles */
.btn-light-blue {
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}

.btn-light-blue .fas {
  color: white;
}

.btn-primary, .btn-danger, .btn-success {
  margin: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}

.job-applications-section {
  margin-top: 40px; /* Adjust the value as needed */
}

/* Section Header Styles */
.dashboard-subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.post-new-job-button {
  text-align: center;
  margin-top: 20px;
}
