/* Business Index Container */
.business-index-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(212, 253, 254, 1);
  padding: 20px;
  max-width: 90%; /* Make the container full width */
}

/* Banner styles */
.business-index-banner {
  position: relative;
  width: 100%; /* Make the banner full width */
  height: 500px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
}

.banner-title {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  margin-left: 1%;
  text-align: center;
  color: white; /* Change color as needed */
  font-size: 50px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make it full width */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-searchform {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Job Cards Section */
.row {
  margin-top: 20px; /* Add spacing between the banner and job cards */
}

.col-12 {
  margin-bottom: 20px; /* Add spacing between job cards */
}

/* Job Card Styles */
.business-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.business-card-title {
  font-weight: bold;
}

.business-card-text {
  margin-bottom: 0.5rem;
}

.business-btn {
  margin-right: 10px;
}


.business-index-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.business-index-buttons {
  display: flex;
  justify-content: center;
}

/* Adjustments for small screens */
@media (max-width: 576px) {
  .business-index-container {
    padding: 10px;
  }
}
