/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Container styles */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h2 {
  text-align: center;
}

/* Banner section */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgba(17, 113, 162, 255);
  padding: 50px 20px;
}

.banner-content {
  flex: 1;
  margin: 0 5%;
}

.banner-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-content h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.banner-image {
  flex-shrink: 0;
  margin-right: 8%;
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Carousel item section */
.carousel-item {
  padding: 20px;
}

.carousel-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.carousel-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Carousel control section */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgba(17, 113, 162, 255);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-text {
  display: none;
}

/* Rest easy section */
.rest-easy-section {
  padding: 40px 20px;
  opacity: 1;
}

.rest-easy-section h1 {
  text-align: center;
}

.rest-easy-section .box {
  padding: 20px;
  border-radius: 15px;
  border: 2px solid transparent;
}

.rest-easy-section .box p {
  text-align: justify;
}

/* ats section */
.ats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.ats-section h1 {
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.ats-section p {
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.ats-section .box {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid;
  background-color: #f7f7f7;
  text-align: center;
  justify-content: center;
}

.box p {
  text-align: justify-center;
  margin: 0;
  justify-content: center;
}

/* Ask Questions section */
.accordion-item {
  border: 1px solid #ddd;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: justify-center;
}

.accordion-header {
  display: flex;
  text-align: center;
  align-items: center;
}

.accordion-item button.accordion-button {
  text-align: center;
}

/* Footer styles */
footer {
  background-color: rgba(17, 113, 162, 255);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative; /* Add position relative for arrow placement */
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.copyright {
  margin-top: 1%;
  font-size: 14px;
}

/* Scroll-up arrow */
.scroll-up-arrow {
  position: absolute;
  right: 20px; /* Adjust the distance from the right */
  bottom: 20px; /* Adjust the distance from the bottom */
  font-size: 48px; /* Increase the size of the arrow */
  color: white; /* Arrow color */
  cursor: pointer;
}

.scroll-up-arrow:hover {
  background-color: rgba(17, 113, 162, 200);
}
