.show-business-banner {
  max-width: 90%;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin: 0 auto; /* Center the banner horizontally */
}

.banner-text {
  background-color: rgba(41, 46, 52, 0.7); /* Adjust the opacity as needed */
  padding: 20px 40px;
  color: white;
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
  max-width: 80%; /* Adjust the width of the text box */
}


/* Job Listing Section */
.show-business-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the start of the flex container */
}

.show-business-job-listing,
.show-business-applications {
  width: calc(50% - 10px); /* Set width for each card */
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.show-business-card {
  margin-bottom: 20px;
  width: 100%; /* Ensure card takes full width */
  max-width: 600px; /* Set maximum width for the card */
}

.show-business-card-body {
  text-align: center;
}

.show-business-img-fluid {
  display: block;
  margin: 0 auto;
  width: 100%; /* Ensure the image fills the width of its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Set maximum height for the image */
}

/* Applications Section */
.show-business-applications {
  width: calc(50% - 10px); /* Set width for applications card */
  padding: 0 10px;
  margin: 0 auto; /* Center horizontally */
}

/* Additional Styles */
.show-business-container {
  text-align: center; /* Center align all content */
}

.show-business-card {
  margin-bottom: 20px;
  width: 100%; /* Ensure card takes full width */
  max-width: 600px; /* Set maximum width for the card */
}
