.sp-role-btn {
  background-color: #D5FDFF ;
  text-decoration: none;
  color: black;
  margin-right: 5px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 7px 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.sp-role-btn:hover {
  opacity: 0.9;
}

// CareerPup and Business Partner sign-up buttons
.sp-role-btn:hover {
  opacity: 0.9;
  background-color: #1170A3;
  color: white;
  transition: 0.7s;
}

.sp-role-btn:clickable {
  cursor: pointer;
}

.sp-role-btn.clicked {
  background-color: #1170A3; /* Change background color to yellow */
  color: white; /* Change text color to black for better readability */
}


.sp-application-form{
  margin: 100px;
  margin-bottom: 400px;
}


.signin-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: rgba(17,113,162,255);

  .left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .left-section {
    border-radius: 30px;
    background-color: #f0f0f0;
    text-align: center;
    color: rgba(17,113,162,255);

  }

  .left-section h1 {
    margin: 10px 0;
  }

  .left-section img {
   max-width: 100%;
   height: auto;
   border-radius: 50%; /* Make the logo perfectly round */
  }

  .right-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
  }

  .element {
    width: 100%;
    max-width: 400px;
    text-align: center; /* Center text */

  }




  .divider {
    width: 2px;
    background-color: gray;
  }

  .role-buttons {
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .role-button {
    margin: 0 10px; /* Add space between buttons */
    padding: 10px 20px; /* Add padding for better clickability */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .role-button.active {
    background-color: #333; /* Change background color when button is active */
    color: #fff; /* Change text color when button is active */
  }

  .role-button:focus {
    outline: none; /* Remove default focus outline */
  }

  .hidden-checkbox-container {
    display: none;
}



  .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    display: flex; /* Align items horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 0 10px;
    color: #333;
    font-size: 12px; /* Reduce text size */
  }

  .social-icons i {
    font-size: 24px; /* Increase icon size */
  }

}
