
.signin-container{
  margin-top: 3%;
}

.sp-application-form{
  margin: 100px;
  margin-bottom: 400px;
  margin-top: 5%;
}


.signin-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: rgba(17,113,162,255);

  .left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .left-section {
    border-radius: 30px;
    background-color: #f0f0f0;
    text-align: center;
    color: rgba(17,113,162,255);

  }

  .left-section h1 {
    margin: 10px 0;
  }

  .left-section img {
   max-width: 100%;
   height: auto;
   border-radius: 50%; /* Make the logo perfectly round */
  }

  .right-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
  }

  .element {
    width: 100%;
    max-width: 400px;
    text-align: center; /* Center text */

  }




  .divider {
    width: 2px;
    background-color: gray;
  }


  .hidden-checkbox-container {
    display: none;
}



  .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    display: flex; /* Align items horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 0 10px;
    color: #333;
    font-size: 12px; /* Reduce text size */
  }

  .social-icons i {
    font-size: 24px; /* Increase icon size */
  }

}


.custom-signup-btn {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  display: inline-block;
  text-align: center;
  line-height: 40px; /* Should be equal to height for vertical centering */
}


.already-user-link {
  margin-top: 20px; /* Adjust the value according to your preference */
}






/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .signin-container {
    width: 100%; /* Full width on small screens */
  }

  .left-section, .right-section {
    padding: 20px; /* Reduce padding on small screens */
  }

  .left-section img {
    border-radius: 0; /* Remove border radius on small screens */
    margin-bottom: 20px; /* Add space between logo and text on small screens */
  }
}

@media screen and (max-width: 576px) {
  .signin-container {
    margin-top: 5%; /* Adjust the top margin for smaller devices */
  }
}
