/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pup Dashboard Container */
.pup-dashboard-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(212, 253, 254, 255);
  border-radius: 10px;
}

/* Pup Dashboard Title */
.pup-dashboard-title {
  text-align: center;
  color: rgba(17, 113, 162, 255);
  font-size: 2.5em;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

/* Pup Dashboard Section */
.pup-dashboard-section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pup Dashboard Subtitle */
.pup-dashboard-subtitle {
  text-align: center;
  color: rgba(17, 113, 162, 255);
  margin-bottom: 20px;
  font-size: 1.8em;
}

/* Pup Dashboard Card */
.pup-dashboard-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: rgba(245, 245, 245, 255);
  border: none;
}

/* Pup Dashboard Card Hover */
.pup-dashboard-card:hover {
  transform: scale(1.05);
}

/* Pup Dashboard Card Body */
.pup-dashboard-card .card-body {
  text-align: center;
}

/* Pup Dashboard Button Container */
.pup-dashboard-btn-container {
  text-align: center;
  margin-top: 20px;
}

.pup-dashboard-section.my-jobs > .row {
  color: white;
}

/* Pup Dashboard Button Link */
.pup-dashboard-btn-link {
  color: rgba(17, 113, 162, 255);
  text-decoration: none;
  background-color: rgba(212, 253, 254, 255);
  border: 1px solid rgba(17, 113, 162, 255);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Pup Dashboard Button Link Hover */
.pup-dashboard-btn-link:hover {
  background-color: rgba(17, 113, 162, 255);
  color: white;
}

/* Pup Dashboard Button Primary */
.pup-dashboard-btn-primary {
  background-color: rgba(17, 113, 162, 255);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Pup Dashboard Button Primary Hover */
.pup-dashboard-btn-primary:hover {
  background-color: rgba(13, 90, 130, 255);
}

/* Pup Dashboard Button Secondary */
.pup-dashboard-btn-secondary {
  background-color: rgba(212, 253, 254, 255);
  border: 1px solid rgba(17, 113, 162, 255);
  color: rgba(17, 113, 162, 255);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Pup Dashboard Button Secondary Hover */
.pup-dashboard-btn-secondary:hover {
  background-color: rgba(17, 113, 162, 255);
  color: white;
}

/* Margin Top 4 */
.mt-4 {
  margin-top: 40px;
}

/* Centered Text */
.centered-text {
  text-align: center;

  }

  p.text-center {
    background-color: white;
  }
