
<div class="sp-application-form">
<h1>Application page</h1>

<%= simple_form_for [@job, @application] do |f| %>
  <% fields = [
    { attribute: :cv_file_cloudinary, label: "CV File"}
  ] %>

  <% fields.each do |field| %>
    <div class="row">
      <div class="col-12">
        <%= f.input field[:attribute], label: field[:label], required: true, input_html: { class: "form-control" } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <%= f.button :submit, "Apply", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>