<h1>Application page</h1>

<%# <%= simple_form_for(jobs) do |f| %>
  <!-- [...] -->
  <%# <%= f.input :photo, as: :file %> %>
  <!-- [...] -->
<%# <% end %> %> %>

<%#
<%= simple_form_for(jobs) do |f| %>
  <!-- [...] -->
  <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %> %>
  <!-- [...] -->
<%# <% end %> %> %>
