<h1>Application page for CREATING JOBS - Business Partners</h1>

<%= simple_form_for(@job) do |f| %>
  <% fields = [
    { attribute: :title, label: "Job Title" },
    { attribute: :company_name, label: "Company Name" },
    { attribute: :location, label: "Location" },
    { attribute: :description, label: "Job Description" },
    { attribute: :requirements, label: "Requirements" }
  ] %>

  <% fields.each do |field| %>
    <div class="row">
      <div class="col-12">
        <%= f.input field[:attribute], label: field[:label], required: true, input_html: { class: "form-control" } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <%= f.input :photo, as: :file %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.button :submit, "Create Job", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
