<div class="container">
  <h1>Dashboard - Business Partner</h1>

<%# When a business user signs in, we want to see all their jobs
just like in CareerPup's Dashboard, instead these are jobs they have created.
Logically, instead of all applications ofr jobs flooding the dashboard,
we can click on an individual job, and then on the show p
age, we can view a list of all applicants underneath. %>
