<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1>Get In Touch</h1>
      <p>We'd love to hear from you! Whether you have questions, feedback, or need assistance, our team at SmartPuppy is here to help. Please use the contact information below to get in touch with us.</p>
      <h3>Customer Support</h3>
      <p>If you need help with your account, have questions about our services, or require technical support, please contact our customer support team:</p>
      <ul>
        <li>Email: support@smartpuppy.me</li>
        <li>Phone: +123-456-7890</li>
        <li>Hours: Monday to Friday, 9:00 AM - 5:00 PM (GMT)</li>
      </ul>
      <h3>Business Inquiries</h3>
      <p>For business inquiries, partnership opportunities, or media relations, please contact our business development team:</p>
      <ul>
        <li>Email: business@smartpuppy.me</li>
        <li>Phone: +123-456-7891</li>
      </ul>
      <h3>Visit Us</h3>
      <p>Our office address:</p>
      <address>
        SmartPuppy Inc.<br>
        123 Career Lane,<br>
        Jobville, JV 45678<br>
        United Kingdom
      </address>
      <p>Thank you for choosing SmartPuppy. We look forward to assisting you!</p>
    </div>
  </div>
</div>
