.edit-container {
  width: 50%; /* Adjust the maximum width of the container */
  margin: 50px auto; /* Center the container horizontally and add margin from the top */
  padding: 20px; /* Add padding inside the container */
  background-color: #f8f9fa; /* Set background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.edit-h1 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Add margin below the heading */
  color: #333; /* Set text color */
}

.form-group {
  margin-bottom: 20px; /* Add margin between form groups */
}

.form-label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Add margin below labels */
  color: #333; /* Set label text color */
}

.form-control {
  width: 100%; /* Set input width to 100% */
  padding: 10px; /* Add padding inside inputs */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

.form-textarea {
  resize: vertical; /* Allow vertical resizing of text areas */
}

.update-btn-primary {
  width: 100%; /* Set button width to 100% */
  margin-top: 20px; /* Add margin from the top */
}

.cancel-btn-secondary {
  width: 100%; /* Set button width to 100% */
  margin-top: 10px; /* Add margin from the top */
}
